{{> header}}
<main>
    <div class="container-fluid banner"></div>
    <div class="banner__box">
        <h1 class="banner__box__title animated fadeInDown">Book trading club</h1>
        <a href="#feature-box" class="banner__box__btn">See More</a>
    </div>
    </div>
    <div class="container feature-box" id="feature-box">
        <h1 class="text-center mt-5 mb-3">LEARN MORE</h1>
        <p class="lead text-center mb-4">Join our community and trade your old books for new ones, dive into new adventures.
        Here you can add to your list the books you allready own, make requests on others users books to trade with them, accept/decline requests that 
      others users made to your books, keeping your books list always updated with this process.</p>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6 feature-box__item">
                <i class="fa fa-book" aria-hidden="true"></i>
                <p class="feature-box__item__description">Catalogue all your books online.</p>
            </div>
            <div class="col-md-3 col-sm-6 feature-box__item">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <p class="feature-box__item__description">See books from people all over the world.</p>
            </div>
            <div class="col-md-3 col-sm-6 feature-box__item">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <p class="feature-box__item__description">Make requests on your favourite books.</p>
            </div>
            <div class="col-md-3 col-sm-6 feature-box__item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <p class="feature-box__item__description">Easy accessibility all over the platform.</p>
            </div>
        </div>
        {{#unless isAuthenticated}}
        <div class="col-md-12 text-center">
            <a href="#" class="btn btn-default btn-default-green" data-toggle="modal" data-target="#login">Join us</a>
        </div>
        {{/unless}}
    </div>
</main>
{{> footer}}