{{> header}}
<main>
    <div class="page__title page__title-request">
        <h1>REQUESTS</h1>
    </div>
    <div class="container">
        <div class="page-navigation mt-4">
            <a href="" class="page-navigation__item active">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> USERS REQUESTS</a>
            <a href="" class="page-navigation__item">
                <i class="fa fa-hourglass-end" aria-hidden="true"></i> MY REQUESTS</a>
        </div>
        <div class="row">
        </div>
    </div>
</main>
{{> footer}}