{{>header}}
<main>
    <div class="page__title page__title-user">
        <p>MY PROFILE</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="inner-addon left-addon">
                    <i class="input-icons fa fa-user" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="username" disabled/>
                </div>
            </div>
            <div class="col-sm-6 mb-4 mb-4">
                <div class="inner-addon left-addon">
                    <i class="input-icons fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="email" disabled/>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="inner-addon left-addon">
                    <i class="input-icons fa fa-user-circle-o" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="full name" />
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="inner-addon left-addon">
                            <i class="input-icons fa fa-compass" aria-hidden="true"></i>
                            <input type="text" class="form-control" placeholder="city" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner-addon left-addon">
                            <i class="input-icons fa fa-map-marker" aria-hidden="true"></i>
                            <input type="text" class="form-control" placeholder="state" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{>footer}}